.ContactUs_Page{
    background-color: #3a3730;
}
.hr_Line{
    color: #f0ece7;
}

.aboutUs{
    background-color: #333;
    width: 90vw;
    height: 620px;
    border-radius: 15px;
    margin-right: 5.5%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUs h3{
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}
.aboutUs p{
    color: #b5aaaa;
    font-weight: 100;
    font-size: 14px;
    padding: 5px 70px;
    text-align: center;
}

img.container_image{
    width: 83vw;
    height: 75%;
    border-radius: 20px;
    justify-content: flex-end;

}
   