.product-body img {
    width: 180px;
    height: 230px;
    border-radius: 3px;
    margin: 10px 28px;
}

.pro-title {
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}

p.price {
    color: #67673c;
    font-size: .8rem;
    text-align: center;

}