.container h4 {
    color: #fff;
    font-weight: bold;

}

.container p {
    color: #eee;
    font-weight: 100;
}


.container label {
    font-size: 1.3rem;
    color: #eee;
    font-weight: bold;
}

.user-comment {
    margin: 10px auto;
    background-color: transparent;
    border: 2px solid #767171;
    border-radius: 25px;
    resize: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    width: 96%;
    height: 240px;
}

.inputs label {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 12px;

}

.inputs {
    display: flex;
}


.inputs input {
    background-color: transparent;
    width: 43%;
    height: 43px;
    border: 1px solid #767171;
    border-radius: 25px;
    outline: none;
    color: #fff;
    padding: 4px;
    margin: 8px 0 0 0;
}

.radio-btn {
    margin: 10px 8px 0 0;
}

.radio-btn label {
    font-size: 1rem;
    margin: 8px;
}
.submit-btn{
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    transition: .5s;
    color: #312e2e;
    background-color: #e5e085;
}

.submit-btn:hover{
    background-color:#d7d261 ;
    color:#eee ;
}


@media screen and (max-width: 700px) {
    .inputs label {
        font-size: 1.1rem;
        font-weight: 100;
        margin: 12px;
        margin-top: 2px;
    }

    .radio-btn label {
        font-size: .9rem;
        
    }

}