.Login_SignUp {

	color: #e1d7d7;
	
	background: linear-gradient(180deg, #070707 10%, #edd754 59%, #000000 100%);
 
	  
}
.Login_SignUp form{
	margin-top: 7rem;
 padding-bottom: 7rem;

}
.Login_SignUp form a{
	text-decoration: none !important;
}
*,
:after,
:before {
	box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

a {
	color: inherit;
	text-decoration: none
}

input {
	outline: none;
}
.tab1{
	width: 44%;
	margin-bottom: 2rem ;
    text-align: center;
	cursor: pointer;
}
.tab2{
	width: 44%;
	margin-bottom: 2rem ;
    text-align: center;
	cursor: pointer;
}
.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
 
	 
	position: relative;
	background: #0d0c0cf2;
	box-shadow: 0 12px 15px 0 #0000003d, 0 17px 50px 0 #00000030;
	border-radius: 15px;
	border-top-left-radius: 3px;
	position: relative;
	border-top-right-radius: 3px;

}
 
.login-html {
	width: 100%;
	height: 103%;
	position: absolute;
	padding: 90px 70px 50px;
	background: #0d0c0cf2;
	border-radius: 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
	display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
	text-transform: uppercase;
}

.login-html .tab {
	font-size: 25px;
	margin-right: 15px;
	padding-bottom: 5px;
	 
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
	color: #ffffff;
	border-color: #eeeeee;
}

.login-form {
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.login-form .group {
	margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
	width: 100%;
	color: #ffffff;
	display: block;

}

.login-form .group .input,
.login-form .group .button {
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(124, 121, 121, 0.5);
}

.login-form .group input[data-type="password"] {
	/* text-security:circle; */
	-webkit-text-security: circle;
}

.login-form .group .label {
	color: #aaa;
	font-size: 12px;
}

.login-form .group .button {
	background: #1161ee;
}

.login-form .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
	content: '';
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
	left: 3px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
	top: 6px;
	right: 0;
	transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
	color: #fff;
}

.login-form .group .check:checked+label .icon {
	background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
	transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
	transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
	transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
	transform: rotate(0);
}

.hr {
	height: 2px;
	margin: 60px 0 50px;
	background: #f5f5f533;
}

.foot-lnk {
	text-align: center;
}

.foot-lnk label { 
	margin-bottom: 5px;
    color: #fff;
    position: relative;
    top: 19px;
    cursor: pointer;
}

.foot-lnk label:hover {
	color: #e7dcdc;
}

.foot-lnk a {
	text-decoration: none;
	transition: 0.3s;
	color: #fff;
	border-bottom: 2px black solid;
}

.foot-lnk a:hover {
	color: #d6cccc;
}

/* drop */


.drop {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: 1;
}

.drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: 89px;
}

.drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -67px;
    z-index: 1;
}

.drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -42px;
}

.drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: -20px;
    z-index: 1;
}

/* drop */


 .span-checkBox{
	display: inline-block !important;
	position: relative;
	top: 2px;
 }
 .sign-up-htm .hr{
	display: none !important;
 }

 @media (max-width:767px) {
     

    .drop-4 {
        right: -14px;
    }

    .drop-3 {
        bottom: 46px;
        right: -20px;
    }

    .drop-1 {
        left: -6px;
    }
}

@media (max-width:824px) {
   
}

@media (max-width:584px) {
   .login-html{
	padding: 3rem 1rem;
	border-radius: 20px !important;
   }
   .login-wrap {
	width: 83%;
	border-radius: 20px;
}.tab{
	margin-bottom: 3rem;
}

    .drop-4 {
        width: 84px;
        height: 84px;
        right: 25px;
        top: -64px;
    }

    .drop-3 {
        right: 14px;
        bottom: -18px;
        width: 50px;
        height: 50px;
    }

    .drop-5 {
        bottom: 87px;
    }

    .drop-1 {
        width: 40px;
        height: 40px;
    }

    .drop-5 {
        bottom: 54px;
        left: -7px;
        opacity: .4;
    }
  
}

@media (max-width:400px) {
	.login-wrap {
		width: 91%;
	}.tab{
		font-size: 1rem !important;
	}.tab1 {
		width: 43%;
	}.group-checkBox{
		margin-top: 3rem;
	}
}