@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}


.contact_card_body h3 {
	margin: 17px 0;
}

.contact_card_body h6 {
	margin: 8px 0;
	border-bottom: solid 1px rgb(133, 132, 132);
	text-transform: uppercase;
	opacity: .5;
}

.contact_card_body p {
	font-size: 14px;
	line-height: 21px;
}

.contact_card_body .card-container {
	background-color: #5a5a5a;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 300px;
	max-width: 100%;
	text-align: center;
	margin: 28px;
}

.contact_card_body .card-container .pro {
	color: #333;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.contact_card_body .card-container .round {
	width: 115px;
	height: 115px;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 4px;
	object-fit: cover;
}

/* new */

.contact_card_body .button {
	height: 50px;
	width: 200px;
	position: relative;
	background-color: transparent;
	cursor: pointer;
	border: 2px solid #978d8d;
	overflow: hidden;
	border-radius: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	color: #f4f4f4;
	transition: all 0.3s ease-in-out;
	margin: 5px;
}

.contact_card_body a button span.btn-txt {
	z-index: 1;
	font-weight: 800;
	letter-spacing: 2px;
	text-decoration: none;
}

.contact_card_body .type1::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	background-color: #444444;
	border-radius: 30px;
	visibility: hidden;
	height: 10px;
	width: 10px;
	z-index: -1;
}

.contact_card_body .button:hover {
	-webkit-box-shadow: 1px 1px 200px #000000;
	box-shadow: 1px 1px 200px #000000;
	color: #d3d3d3;
}

.contact_card_body .type1:hover::after {
	visibility: visible;
	-webkit-transform: scale(100) translateX(2px);
	-ms-transform: scale(100) translateX(2px);
	transform: scale(100) translateX(2px);
}

/* new */

.contact_card_body button.primary {
	background-color: #bebebe;
	border: 1px solid #bebebe;
	border-radius: 3px;
	color: #1f0651;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
	margin: 5px;
}

.contact_card_body button.primary.ghost {
	background-color: transparent;
	color: #000000;
}

.contact_card_body .skills {
	background-color: #333;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.contact_card_body .skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.contact_card_body .skills ul li {
	border: 1px solid #e9e0e6;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}