.Home {
    background-color: #3A3730;

}

.home-section-top {
    bottom: 50px;
    position: relative;
    height: 800px;
}

.home-section-top video {
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
    height: 868px;

    bottom: 108px;
}

.home-title h4 {
    color: #FFFFFF36;
    font-family: cursive;

    font-size: 80px;
    line-height: 100px;
    margin: 1rem 14rem 1rem 15rem;
}

.home-title p {
    color: #F0CC80;

    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 78px;
}

.home-title {
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
    padding: 0rem 1rem;
}

.ring {
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.ring img {
    width: 100%;
}

.loader {
    width: 35px;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid #fff;
    position: relative;
    border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

.loader::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 50%;
    animation: fadeDown 2s ease-out infinite;
}

@keyframes fadeDown {
    0% {
        top: 0%;
        opacity: 1;
    }

    100% {
        top: 60%;
        opacity: 0;
    }
}

.scrollButton {
    position: absolute;
    width: 100%;
    bottom: 64px;
    justify-content: center;
    display: flex;
}

@media (max-width:1024px) {
    .home-title h4 {

        font-size: 76px !important;

        margin: 1rem 0rem 1rem 1rem;
    }

    .scrollButton {
        bottom: 73px;
    }
}

@media (max-width:500px) {
    .home-title h4 {
        font-size: 1.5rem !important;

        margin: 1rem 0rem 0px 0rem !important;
        line-height: normal !important;
    }

    .home-title p {
        font-size: 1.3rem !important;
        margin-bottom: 0px !important;
        margin-top: .3rem;
        line-height: normal !important;
    }

    .home-section-top video {
        height: 320px;
    }

    .home-title {
        position: absolute;
        top: 32px;
        width: 100%;
        text-align: center;

    }

    .home-section-top {
        height: 100%;
    }

    .ring {
        position: absolute;
        width: 100%;
        bottom: 105px;
    }

    .home-title {
        padding: 0rem !important;
    }
}




/* why-this-shop  */
.why-this-shop img {
    width: 210px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.why-this-shop-title {
    color: white;
    font-size: 1.6rem;
    font-family: vazir;
    text-align: center;
}

.why-this-shop section {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 2rem;
}

.why-this-shop {
    padding: 0rem 9rem;
}

@media (max-width:1024px) {
    .why-this-shop {
        padding: 0rem 2.5rem;
    }
}

@media (max-width:768px) {
    .why-this-shop section {
        display: grid !important;
        grid-template-columns: auto auto;
    }
}

@media (max-width:500px) {

    .why-this-shop section {
        display: grid !important;
        grid-template-columns: auto !important;
    }

    .why-this-shop {
        padding: 0rem 1rem;
    }

}

/* Intro products */
.Home main {
    display: flex;
    justify-content: space-around;
    background-color: #3A3730;
    background-image: url(https://dev-wp.ir/goldpluss/wp-content/uploads/2022/03/Mask-Group-9-4-1-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    direction: rtl;
    padding: 6rem 6em 0rem 6rem;
}

@media (max-width:1024px) {
    .Home main {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width:768px) {
    .Home main {
        padding: 5rem 2rem;
    }
}

@media (max-width:500px) {
    .Home main {
        grid-template-columns: auto;
        padding: 2rem 1rem !important;
    }
}


/* on-sale */
.on-sale {
    background-image: url(https://dev-wp.ir/goldpluss/wp-content/uploads/2022/03/Group-165-min.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    direction: rtl;
    margin: 5rem;
    display: flex;
    padding: 50px 46px 80px 78px;
    align-items: center;
}

.on-sale-title {
    font-family: vazir;
    font-size: 1.4rem;
}

.on-sale section {
    padding: 1rem;
    color: white;
    width: 60%;
}



.swiper {
    position: relative;
    height: 100%;
    right: 20px;
    padding-bottom: 42px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    color: white;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    font-size: 39px;
}

.swiper-button-prev {
    right: -40px !important;
}

.swiper-button-next {
    right: 40px !important;
}

.swiper-pagination-bullet-active {
    background: white !important;
    width: 20px !important;
    border-radius: 5px !important;
}

.swiper-pagination-bullet {
    cursor: pointer;
}

@media (max-width:1364px) {
    .on-sale {
        padding: 50px 12px 80px 0px;
        margin: 5rem 3rem 5rem 4rem;
        background-size: 100% 226px;
    }

    .Home-swiper {
        width: 84%;
    }

    .on-sale section .vazirlight {
        font-size: .9rem;
    }
}

@media (max-width:768px) {
    .on-sale {
        display: flex;
        flex-direction: column;
        gap: 54px;
        background-position: top;
    }

    .Home-swiper {
        width: 100% !important;
    }

    .on-sale {
        padding-top: 0px !important;
    }

    .on-sale section {
        margin-left: auto;
        width: 100% !important;
    }

    .on-sale {
        margin: 5rem 2rem 5rem 2rem;
        background-size: 100% 208px;
    }
}

@media (max-width:767px) {
    .on-sale {
        margin: 5rem 1rem !important;
        background-size: 100% 28%;
        padding: 0px 0px 80px 0px !important;
    }

    .Home-swiper {
        width: 96% !important;
        margin-left: 2rem !important;
        margin-right: 0px !important;
    }

}

@media (max-width:320px) {
    .on-sale {

        background-size: 100% 35%;
    }

}

/* Back to Top Button  */

.to-top {
    position: fixed;
    right: 25px;
    bottom: 15px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #000;
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.to-top.active {
    opacity: 1;
    bottom: 40px;
}

.to-top svg {
    font-size: 30px;
}

.btn-icon img{
width: 30px;
}