.main_footer {
    width: 100%;
    height: auto;
    background-color: #3A3730;
    padding-top: 20px;
}

.footer_kenar {
    width: 30%;
    height: auto;
    float: right;
    padding: 15px;
}

.footer_vasat {
    width: 20%;
    height: auto;
    float: right;
    padding: 15px;
}

.footer_card h4 {
    color: beige;
    font-weight: 400;
    font-size: 19;
    margin-bottom: 10px;
}

.footer_card p {
    color: beige;
    font-weight: 200;
    font-size: 16;
}

.footer_card ul li {
    margin-bottom: 7px;
}

.footer_card ul li span {
    margin-bottom: 7px;
    color: beige;
}

.footer_card ul li a {
    color: #f6f6df;
    font-weight: 200;
    font-size: 16;
    text-decoration: none;
    transition: 0.3s;
}

.footer_card ul li a:hover {
    color: #c8c3c3;

}

.footer_namad img {
    width: 110px;
    height: 150px;
    float: left;
    margin-top: 20px;
    padding: 5px;
    opacity: 0.9;
    border-radius: 8px;
}


/* under Footer */

.border-hr {
    border-color: #8f8f8f;
}

.under_footer {
    text-align: right;
}

.under_footer p {
    color: #fff;
    font-size: 16px;
    padding: 14px 3px;
    font-weight: 200;
    display: inline-block;
}

.footer-social-icons {
    float: left;
}

.footer-social-icons a svg {
    width: 35px;
    height: 35px;
    margin: 5px;
    padding-top: 8px;
    color: rgb(225, 217, 217);
}