@font-face { 
   font-family: vazir; 
 src: url("../../fonts/vazir/Vazir-Bold.ttf");  
}


 *{
    direction: rtl;
    font-family: vazir;  
} 



.header {
    margin: 0;
    box-sizing: border-box;
    padding: 0;


}

.header_backgruond {
    width: 100%;
    height: 60px;
    background-color: #47443E;
    position: relative;
    z-index: 100;
}

.navbar {
    width: 66%;
    height: 110px;
    background-color: #393630;
    margin: auto;
    top: 70px;
    -webkit-border-radius: 32px 32px 70px 70px;
    border-radius: 32px 32px 70px 70px;
    margin-top: -50px;
    border: ridge 3.6px #BFA772;
  
    position: absolute !important;
    z-index: 100;
    transform: translateX(-25%);
}

.logo {
    display: block;
    width: 80px;
    margin-right: 450px;
    margin-left: auto;
    margin-top: -16px;

}


.list-right {
    display: flex;
    position: absolute;

}

.list-right li {
    padding: 5px 10px;
    list-style: none;
    right: 40px;

}

.list-right li a {
    text-decoration: none;
    transition: 500ms;
    color: #fff;
    font-size: 16px;

}

.list-right li a:hover {
    color: #d2cec6;
}

ul.list-left {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
  
}

.list-left li{
    padding: 5px 10px;
    list-style: none;
    right: 40px;
    left: 40px;
}


.list-left li a {
    text-decoration: none;
    transition: 500ms;
    color: #fff;
    font-size: 22px;
    opacity: 0.7;

}

.list-left li a:hover{
    color: #c4c1bc;
    

}