.blogs-container{
    width: 420px; 
           /* calc(100% / 3 - 40px) */
    height: 450px;
    background-color: #47443E;
    border-radius: 25px;
    margin: 20px 20px 20px 0;
padding:0rem 1.2rem;

}

.header_blog {
    width: 40%;
    height: 8px;
    background-color: #F0CC80;
    border-radius: 30px;
    margin: auto;
    position: relative;
    bottom: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.blogs-container img {
    width: 100%;
    height: 224px;
    border-radius: 30px;
    margin:1rem auto;

    transition: .3s;
}

.blogs-containerimg:hover {
    opacity: .8;
    background-color: black;
}



.blogs-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: vazir;
    margin-top: 1.5rem;
}

.blogs-card-paragraph {
    font-size: 13px;
    font-family: vazirmd !important;
    padding: 15px 0px 0px !important;
}

.blogs-card-continiue {
    text-align: center;
    font-size: .9rem;
    font-family: vazir;
   
}
.blogs-card-continiue a{
 opacity: 1 !important;
 color: #Fff !important;

}
.blogs-card_body a {
    text-decoration: none;
    color: #e6e3e3;
    margin: auto;
    transition: .4s;
    opacity: .7;

}

.blogs-card_body a:hover {
    opacity: 1;
    color: #fff;
}

.blogs-card-continiue a:hover::after {
    transition: .5;
    content: "..";
}

.blogs-card-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.blogs-card-details img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0rem !important;
    
}
.blogs-card-details a{
    margin: 0rem !important;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: vazirmd;
}
.blogs-card-details p{
    position: relative;
    top: 0px;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: vazirmd;
    padding: 0px;
}
.blogs-icons{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}
.blogs-date{
    position:absolute;
    right: 30px;
    z-index: 2;
    height: 60px;
    width: 53px;
    background-color:black;
    box-shadow: 0 0 9px rgba(0,0,0,.1);
    color: white;
    text-align: center;
    line-height: 1;
    top:30px;
    padding-top: .49rem;
    display: flex;
    flex-direction: column;
}
.blogs-date p{
    padding: 0px 10px !important;
}
.blogs-date span{
    position: relative;
    top: 4px;
    font-size: .9rem;
}
@media (max-width:768px) {
    .blogs-container{
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:350px) {
    .blogs-avatar {
        height: 181px !important;
    }
}